package com.malli.{{ project_package }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
@SuppressWarnings("checkstyle:HideUtilityClassConstructor")
public class {{project_name_combined}}Application {

    public static void main(String[] args) {
        SpringApplication.run({{project_name_combined}}Application.class, args);
    }

}
